@model LaptopSystem.App.ViewModels.LaptopDetailsViewModel
           
<h1>Laptop System</h1>
<h3>@Model.Manufacturer @Model.Model</h3>
<div class="row">
    <div class="span2">
        <div>
            <strong>Monitor</strong>@Model.MonitorSize
        </div>
        <div>
            <strong>RAM:</strong> @Model.RamMemorySize
        </div>
        <div>
            <strong>Price:</strong> @Model.Price
        </div>
    </div>
    <div class="span2 offset2">
        <img src="@Model.ImageUrl" alt="Alternate Text" />
    </div>
    <div class="span4 offset2">
        <div><strong>Weigth:</strong>@Model.Weight</div>
        <div><strong>Additional parts:</strong>@Model.AdditionalParts</div>
        <div><strong>Description:</strong>@Model.Description</div>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div>
        <span>Votes:</span> <span id="votes">@Model.Votes</span>
        @Ajax.ActionLink("Vote", "Vote", new { laptopId= Model.Id }, new AjaxOptions()
        {
            HttpMethod = "POST", InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "votes",
        }, new { @class="btn"})
    </div>
}
<div class="row">
    <div id="comments" class="span6">
        @foreach (var comment in @Model.Comments)
        {
            @Html.Partial("_CommentPartial", comment);
        }
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{
    <div>
        <strong>Add comment</strong>
        @using (Ajax.BeginForm("Comment", 
            new AjaxOptions() { HttpMethod = "POST",
                InsertionMode = InsertionMode.InsertAfter,
                UpdateTargetId = "comments",
                OnSuccess = "onPostCommentSuccess"
            }))
        {
            <label for="post-comment"></label>
            <input type="hidden" name="LaptopId" value="@Model.Id" />
            <textarea id="post-comment" name="content"></textarea>
            <input type="submit" value="Comment" />
        }
    </div>
}

<script>
    function onPostCommentSuccess() {
        $("#post-comment").val("");
    }
</script>